SortClient/Connected Services/ConsoleClientServiceReference/SortingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SortingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49172/SortingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49172/SortingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49172/SortingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49172/SortingService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISortingService_BeginStream_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginStream" />
  </wsdl:message>
  <wsdl:message name="ISortingService_BeginStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginStreamResponse" />
  </wsdl:message>
  <wsdl:message name="ISortingService_PutStreamData_InputMessage">
    <wsdl:part name="parameters" element="tns:PutStreamData" />
  </wsdl:message>
  <wsdl:message name="ISortingService_PutStreamData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutStreamDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISortingService_GetSortedStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSortedStream" />
  </wsdl:message>
  <wsdl:message name="ISortingService_GetSortedStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSortedStreamResponse" />
  </wsdl:message>
  <wsdl:message name="ISortingService_EndStream_InputMessage">
    <wsdl:part name="parameters" element="tns:EndStream" />
  </wsdl:message>
  <wsdl:message name="ISortingService_EndStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndStreamResponse" />
  </wsdl:message>
  <wsdl:portType name="ISortingService">
    <wsdl:operation name="BeginStream">
      <wsdl:input wsaw:Action="http://tempuri.org/ISortingService/BeginStream" message="tns:ISortingService_BeginStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISortingService/BeginStreamResponse" message="tns:ISortingService_BeginStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutStreamData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISortingService/PutStreamData" message="tns:ISortingService_PutStreamData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISortingService/PutStreamDataResponse" message="tns:ISortingService_PutStreamData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSortedStream">
      <wsdl:input wsaw:Action="http://tempuri.org/ISortingService/GetSortedStream" message="tns:ISortingService_GetSortedStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISortingService/GetSortedStreamResponse" message="tns:ISortingService_GetSortedStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndStream">
      <wsdl:input wsaw:Action="http://tempuri.org/ISortingService/EndStream" message="tns:ISortingService_EndStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISortingService/EndStreamResponse" message="tns:ISortingService_EndStream_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISortingService" type="tns:ISortingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BeginStream">
      <soap:operation soapAction="http://tempuri.org/ISortingService/BeginStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutStreamData">
      <soap:operation soapAction="http://tempuri.org/ISortingService/PutStreamData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSortedStream">
      <soap:operation soapAction="http://tempuri.org/ISortingService/GetSortedStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndStream">
      <soap:operation soapAction="http://tempuri.org/ISortingService/EndStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SortingService">
    <wsdl:port name="BasicHttpBinding_ISortingService" binding="tns:BasicHttpBinding_ISortingService">
      <soap:address location="http://localhost:49172/SortingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>